.secondPage{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    overflow: hidden;
}

.myInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileImg{
    height: 60vh;
    box-shadow: 5px 5px 5px;
}

.imagePr{
    padding-bottom: 20px;
}

.myInfo p{
    font-family: 'CustomFont';
    font-size:xx-large;
    font-weight: 600;
}

.myInfo button{
    font-family: 'CustomFont';
    height: 7vh;
    width: 15vw;
    border-radius: 10px;
    background-color: red;
    font-size: larger;
    cursor: pointer;
}

.soldier{
    width: 25vw;
    height: 90vh;
}

.soldier img{
    height: 80%;
    width: 90%;
    margin-bottom: 20vh;
}
.sold{
    transition: all 0.3s ease-in-out;
}
.sold:hover{
    display: none;
}

@media (max-width:800px) {
    .sold,.soldf,.soldl{
        display: none;
    }

    .myInfo button{
        width: 20vh;
    }
}